<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/swipe.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/mp3-player-button.css">
<div class="loading">Loading&#8230;</div>
<div class="sub-header">
    <div class="swipe-tabs">
        <div class="swipe-tab">네부리 바시</div>
        <div class="swipe-tab">사구리 바시</div>
        <div class="swipe-tab">쿠유예 바시</div>
        <div class="swipe-tab">마요이 바시</div>
        <div class="swipe-tab">아게 바시</div>
        <div class="swipe-tab">치기리 바시</div>
        <div class="swipe-tab">나미다 바시</div>
        <div class="swipe-tab">고미 바시</div>
    </div>
</div>
<div class="main-container">
    <div class="swipe-tabs-container ">
        <% _.each(categories, function(category, name){ %>
        <div class="swipe-tab-content">
            <div class="slide_content">
                <img onclick="play_audio();" src="assets/img/chopsticks/pg<%- name%>.png" alt="젓가락예절" class="mainTheme">
                <div class="grid">
                    <div class="grid-main-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <div class="row">
                        <% _.each(category, function(item, name){ %>
                        <div class="grid-main-item" id="rows">
                            <p class="wordPlay">
                                <%- item.wordNum %>
                            </p>
                            <a id="testWord" class="waves-effect btn secondary-content green">
                                <p class="testWord"><%- item.description %></p>
                                <p class="answerSection"><%- item.answer%></p>
                            </a>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="row" style="float:right;">
        <!--<div class="col s3"><a class="waves-effect waves-light btn blue" id='nextbt' >다음</a></div>-->
    </div>
</div>
<script src="lib/slick.min.js"></script>
<script src="assets/js/pixeldraw.js"></script>
<script type="text/javascript">
  PixelDraw.load('masonry', 'swipe', 'init', 'mp3-player-button', 'soundmanager2');
  eval(initMainGrid());

  function play_audio(){
    var audio = new Audio("assets/audios/chopsticks/sound"+(boardset+1)+".m4a");
    audio.play();
  }
</script>
